body {
    box-sizing: border-box;
}

.frame {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #E5E5E5;
}

.main_frame {
    position: relative;
    width: 1440px;
    height: 1312px;
    display: flex;
    flex-direction: row;
    margin-top: 2px;
}

.main_frame .left_frame {
    position: relative;
    width: 305px;
    height: 1315px;
    display:flex ;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 10px 4px rgba(47, 122, 249, 0.1);
}


.main_frame .left_frame .left_1 {
    width: 228px;
    height: 267px;
    position: relative;
    margin-top: 50px;
    margin-left: 37px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.main_frame .left_frame .left_1_1 {
    width: 156.16px;
    height: 135.05px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.5));
}

.main_frame .left_frame .left_1_2 {
    width: 64px;
    height: 20.85px;
    display: flex;
    flex-direction: row;
    align-items: center;

    font-family:"Libre Franklin", sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 500;
    line-height: 123.6%;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}

.main_frame .left_frame .left_1_3 {
    width: 147.84px;
    height: 24.31px;
    position: relative;
    color: #767676;
    font-family: "Libre Franklin", sans-serif;
    font-style: Regular;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    justify-content: center;
    text-align: left;
    text-transform: capitalize;
}

.main_frame .left_frame .left_icons {
width: 228px;
height: 22px;
display:flex ;
flex-direction: row;
justify-content: center;
align-items: center;
margin-top: 18px;
    margin-bottom: 52px;
}

.main_frame .left_frame .link_href {
    text-decoration: none;
    color: black;
    width: 228px;
    height: auto;
}

.main_frame .left_frame .icon {
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    /* Yellow */
    /* Yellow */
    /* background: #FFB400; */
     display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.9));
}
/*    left-1.   */

.main_frame .left_frame .marginer {
    width: 220px;
    height: 0;
    position: relative;
    margin-left: 40px;
    margin-bottom: 25px;
    margin-top: 39px;
    border: 1.5px solid #f0f0f6;
}


/*    left-2.   */
.main_frame .left_frame .left_2 {
      width: 221px;
    height: 126px;
    margin-left: 44px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main_frame .left_frame .information {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main_frame .left_frame .age {
    /* Age: */
    position: relative;
    width: 39px;
    height: 24px;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Libre Franklin", sans-serif;
    font-style:normal;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    background: #FFB400;

}
.main_frame .left_frame .age_2 {
    margin-top: 10px;
    /* Age: */
    position: relative;
     padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 89px;
    height: 24px;
    font-family: "Libre Franklin", sans-serif;
    font-style:normal;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    background: #FFB400;

}
.main_frame .left_frame .age_3 {
    margin-top: 10px;
    /* Age: */
    position: relative;
     padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85px;
    height: 24px;
    font-family: "Libre Franklin", sans-serif;
    font-style:normal;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    background: #FFB400;

}
.main_frame .left_frame .age_4 {
    margin-top: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 24px;
    font-family: "Libre Franklin", sans-serif;
    font-style:normal;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    background: #FFB400;

}


/*    left-3.   */
.main_frame .left_frame .left_3 {
      width: 221px;
    height: 153px;
    margin-left: 44px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main_frame .left_frame .language {
/* Languages */
position: relative;
    width: 95px;
    height: 22px;
    font-family: "Libre Franklin", sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 500;
    line-height: 123.6%;
}

.main_frame .left_frame .lang_info {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main_frame .left_frame .lang {
    position: relative;
    width: 49px;
    height: 24px;
    font-family:"Libre Franklin", sans-serif;
    font-style: normal;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    /* identical to box height, or 160% */
    text-transform: capitalize;
    font-feature-settings: 'calt' off, 'kern' off;

    /* Paragraph Font */
   <i class="fa-solid fa-circle-chevron-right" style="color: #ffb400;"></i>
}

.main_frame .left_frame .foiz {
  
    position:relative;
    width: 38px;
    height: 24px;
    font-family: "Libre Franklin", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-transform: capitalize;
    font-feature-settings: 'calt' off, 'kern' off;

    color: #767676;

    }

    .main_frame .left_frame .box_border{
        width: 100%;
        height:6px;
        border: 1px solid #FFB400;
        border-radius: 10px;
        padding: 1px;
        position: relative;

    }


    .main_frame .left_frame .border_1 {
        
    position: relative;
    width: 217px;
    height: 2px;
    /* Yellow */
    background: #FFB400;
    border-radius: 30px;
    }

     .main_frame .left_frame .border_2 {
    position: relative;
    height: 100%;
  background: #ffb400;
  border-radius: 10px;

     }
    
    .main_frame .left_frame .border_3 {
    position: relative;
    height: 100%;
  background: #ffb400;
  border-radius: 10px;

     }
/*    left-3.   */

/*    left-4.   */
.main_frame .left_frame .left_4 {
      width: 220px;
    height: 242px;
    margin-left: 44px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*    left-4.   */

/*    left-5.   */
.main_frame .left_frame .left_5 {
      width: 186px;
    height: 148px;
    margin-left: 44px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main_frame .left_frame .Skills {
    /* Stylus, Sass, Less */

position: relative;
width: 156px;
height: 24px;

/* Paragraph Progress - 15 */
font-family:"Raleway", sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 160% */
text-transform: capitalize;
font-feature-settings: 'calt' off, 'kern' off;

/* Paragraph Font */
color: #767676;
}
/*    left-5.   */

.main_frame .midd_list {
    position: relative;
width: 970px;
height: 1264px;
left: 34px;
}

.midd_frame .midd_top {
position: relative;
width: 970px;
height: 454px;
top: 3px;
display: flex;
flex-direction: row;
background: rgb(255, 255, 255);
}

.midd_list .midd_top .top_left p {
    position: relative;
    width: 499.51px;
    height: 116.74px;
    top:100px;
    left:56px ;
    font-family: "Libre Franklin", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 123.6%;
    color: #2B2B2B;
}

.midd_list .midd_top .top_left span {
    position: relative;
    width: 424.44px;
    height: 85.61px;
    top: 75px;
    left: 61px;
    font-family: "Inter";
    font-style: "Raleway", sans-serif ;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-transform: capitalize;
    
}

.midd_list .midd_top .top_left button {
    width: 154px;
    height: 51px;
    top: 130px;
    left: 61px;
    border: none;
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 32px 16px 32px;
    background: #FFB400;

}




.midd_list .midd_top .top_right {
    position: relative;
    width: 326.06px;
    height: 446.63px;
    top:8px ;
}







.main_frame .midd_bootom {
    position: relative;
    width: 970px;
    height: 653px;
    margin-top: 148px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.midd_bootom .info_top {
    width: 100%;
    height: 180px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.midd_bootom .info_top p {
    width: 193px;
    height: 40px;
    font-family: "Raleway", sans-serif ;
    font-style: Bold;
    font-size: 32px;
    font-weight: 700;
    line-height: 123.6%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
}

.midd_bootom .info_top span {
    width: 438px;
    height: 68px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    }


.midd_bootom .info_bottom {
    position: relative;
    width: 100%;
    height: 473px;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
 /* .info_bottom */

.midd_bootom .info_bottom .info_box {
    position: relative;
    width: 310px;
    height: 225px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info_bottom .info_box .solid {
    top: 15px;
    position: relative;
  font-size: 75px;

}

.info_bottom .info_box p {
    width: 158px;
    height: 22px;
    margin-top: 20px;
    font-family: "Libre Franklin", sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 500;
    line-height: 123.6%;
     text-align: center;
    text-transform: capitalize;
}

.info_bottom .info_box span {
    width: 134px;
    height: 24px;
    font-family: "Raleway", sans-serif ;
    font-style: normal;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    text-transform: capitalize;
}

.main_frame .right_frame {
    position: relative;
    width: 108px;
    height: 1315px;
    left: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FAFAFA;
    box-shadow: 4px 0px 10px 0px rgba(47, 122, 249, 0.1);
}

.main_frame .right_frame .right {
    position: relative;
    width: 30px;
    height: 30px;
    top: 50px;
    font-size: 28px;
}

.main_frame .right_frame .right_menu {
    position: relative;
    top: 254px;
    width: 65px;
    height: 493px;
    font-size: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.main_frame .right_frame .right_menu .ok {
     width: 60px; 
     height: 60px;
    position: relative;
    background: #FFB400;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}